.main_chat
  .main_chat--top
    .main_chat--top--left
      .main_chat--top--left__name
        test
      %ul.main_chat--top--left__name__member_name
        Member name
        %li.main_chat--top--left__name__member_name__list
          aa
          bbb
    .main_chat--top--right
      = link_to "#" do
        Edit
  .main_chat--main__message
    .main_chat--main__message--box
      .main_chat--main__message--box--content
        .main_chat--main__message--box--content__name
          name1
        .main_chat--main__message--box--content__date
          2020/03/07
      %p
        comment1
    .main_chat--main__message--box
      .main_chat--main__message--box--content
        .main_chat--main__message--box--content__name
          name2
        .main_chat--main__message--box--content__date
          2020/03/07
      %p
        comment2
  .form
    %form
      %input{type: "text", class: "form__message", placeholder: "type a message"}
      .form__mask
        %label.form__mask__image
          = icon('fa','image',class: 'icon')
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}